<a href="https://colab.research.google.com/github/jelly12paw/TIL/blob/main/CodeUp_Python_%EA%B8%B0%EC%B4%88100%EC%A0%9C_6001_~_6026.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CodeUP Python 기초 100제
## 6001번 ~ 6026번 문제풀이

In [1]:
# 6001번
# Hello 출력하기

print('Hello')

Hello

In [2]:
# 6002번
# Hello World 출력하기

print('Hello World')

Hello World

In [6]:
# 6003번
# Hello
# World 줄 바꿈으로 출력

print('Hello\nWorld')

Hello
World

In [7]:
# 6004번
# 'Hello' 출력하기

print('\'Hello\'')

'Hello'

In [8]:
# 6005번
# "Hello World" 출력하기

print('\"Hello World\"')

"Hello World"

In [9]:
# 6006번
# "!@#$%^&*()' 출력하기

print('\"!@#$%^&*()\'')

"!@#$%^&*()'

In [10]:
# 6007번
# "C:\Download\'hello'.py" 출력하기

print('\"C:\\Download\\\'hello\'.py\"')

"C:\Download\'hello'.py"

In [12]:
# 6008번
# print("Hello\nWorld") 출력하기

print('print(\"Hello\\nWorld\")')

print("Hello\nWorld")

In [13]:
# 6009번
# 변수에 문자 1개를 저장한 후 변수에 저장되어 있는 문자를 그대로 출력하기

c = input()

print(c)

안녕
안녕

In [14]:
# 6010번
# 변수에 정수값을 저장한 후 정수로 변환하여 출력하기

a = int(input())

print(a)

15
15

In [15]:
# 6011번
# 변수에 실수값을 저장한 후 변수에 저장되어 있는 값을 그대로 출력하기

a = float(input())

print(a)

1.414213
1.414213

In [16]:
# 6012번
# 줄을 바꿔 정수(integer) 2개를 입력받아 줄을 바꿔 출력하기

a = int(input())
b = int(input())

print(a)
print(b)

1
2
1
2

In [17]:
# 6013번
# 줄을 바꿔 문자(character) 2개를 입력받고, 순서를 바꿔 한 줄씩 출력하기

a = input()
b = input()

print(b)
print(a)

a
b
b
a

In [18]:
# 6014번
# 실수(real number) 1개를 입력받아 줄을 바꿔 3번 출력하기

a = float(input())

print(a)
print(a)
print(a)

0.1
0.1
0.1
0.1

In [20]:
# 6015번
# 공백을 두고 입력된정수(integer) 2개를 입력받아 줄을 바꿔 출력하기

a, b = input().split()

print(int(a))
print(int(b))

1 2
1
2

In [21]:
# 6016번
# 공백을 두고 문자(character) 2개를 입력받아 순서를 바꿔 출력하기

a, b = input().split()

print(b, a)

a b
b a

In [22]:
# 6017번
# 정수(integer), 실수, 문자(character), 문자열(string) 등 1개만 입력받아 한 줄로 3번 출력하기

a = input()

print(a, a, a)

computer science
computer science computer science computer science

In [23]:
# 6018번
# 24시간 시:분 형식으로 시간이 입력될 때, 그대로 출력하는 연습하기

a = input()

print(a)

3:16
3:16

In [25]:
# 6019번
# "연도.월.일"을 입력받아 "일-월-연도" 순서로 바꿔 출력하기

y, m, d = input().split('.')

print(d, m, y, sep='-')

2020.3.4
4-3-2020

In [26]:
# 6020번
# 110011-0000000 형태의 주민번호를 입력받아 '-'를 제외한 주민번호 13자리를 모두 붙여 출력하기

a, b= input().split('-')

print(a, b, sep='')

000907-1121112
0009071121112

In [27]:
# 6021번
# 알파벳과 숫자로 이루어진 단어 1개를 입력하여 입력받은 단어의 각 문자를 한 줄에 한 문자씩 분리해 출력하기

a = input()

for i in a :
    print(i)

Hello
H
e
l
l
o

In [28]:
# 6022번
# 6자리의 연월일(YYMMDD)을 입력받아 나누어 출력하기

a = input()

print(a[0:2]+' '+a[2:4]+' '+a[4:6])

200304
20 03 04

In [29]:
# 6023번
# 시:분:초 형식으로 시간이 입력될 때 분만 출력하기

a, b, c = input().split(':')

print(b)

17:23:57
23

In [30]:
# 6024번
# 알파벳 문자와 숫자로 이루어진 단어 2개를 입력받아 순서대로 붙여 출력하기

a, b = input().split()

print(a, b, sep='')

hello world
helloworld

In [31]:
# 6025번
# 정수 2개를 입력받아 합을 출력하기

a, b = input().split()

print(int(a)+int(b))

123 -123
0

In [32]:
# 6026번
# 실수 2개를 입력받아 합을 출력하기

a = float(input())
b = float(input())

print(a + b)

0.1
0.9
1.0