<a href="https://colab.research.google.com/github/jelly12paw/TIL/blob/main/Python/Python_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Python 기초

### 정렬 (sort / sorted)

In [3]:
# 정렬1 (sort)
a = [10, 1, 100]

new_a = a.sort()
print(a, new_a)

# 리스트 메서드를 활용하면, 그 메서드를 정렬된 상태로 변경(원본 변경) / return되는 것은 None

# 정렬2 (sorted) 
b = [10, 1, 100]

new_b = sorted(b)
print(b, new_b)

# sorted 함수를 활용하면, 원본을 변경하지 않음 return되는 것은 정렬된 리스트


a = [10, 1, 100]
print(a.sort())


b = [10, 1, 100]
b = sorted(b)
print(b)

[1, 10, 100] None
[10, 1, 100] [1, 10, 100]
None
[1, 10, 100]

### join

In [6]:
names = ','.join(['홍길동', '김철수'])
print(names)


# numbers = ' '.join([10, 20, 100]) TypeError 발생 코드
numbers = ' '.join(map(str, [10, 20, 100]))

print(numbers)

홍길동,김철수
10 20 100

### extend

In [8]:
a = ['apple']
a.extend(['banana', 'mango'])
print(a)

a.extend('banana') # 리스트 메서드를 활용하지 않으면 문자열 하나씩 저장
print(a)

['apple', 'banana', 'mango']
['apple', 'banana', 'mango', 'b', 'a', 'n', 'a', 'n', 'a']

### append

In [10]:
a = [1, 2, 3]
a = a.append(4)

# a.append(4)의 return 값을 a에 저장한다.
# 리스트.append()의 메서드는 반환값이 None임!
print(a)

a = [1, 2, 3]
a.append(4)
print(a)


a = [1, 2, 3]
# sum 함수의 return 값을 변수 result에 할당
result = sum(a)
print(result)

None
[1, 2, 3, 4]
6

### mutable

In [12]:
# 리스트는 mutable
a = [1, 2, 3]
a[0] = 100
print(a)

[100, 2, 3]

In [13]:
# 문자열은 immutable
a = 'hi'
a[0] = 'c'
print(a) # TypeError 발생

TypeError: ignored

### return

In [17]:
a = 1

print(a + 2)
print(a * 3)
print(4 * 5)

a = [1, 2, 3]
# sum(a)의 결과(int, 합 계산 결과)를 result 할당
result = sum(a)
print(result)

numbers = [1, 3, 2]
# None이 반환되고, numbers는 바뀌어있고 result = numbers.reverse()

print(numbers.reverse())

3
3
20
6
None

### dictionary

In [32]:
# key가 기준이고, 직접 딕셔너리에 key로 접근하면 value를 얻을 수 있다!
my_dict = {'apple': '사과', 'banana': '바나나'}

for word in my_dict:
    print(word, my_dict[word])

apple 사과
banana 바나나

In [20]:
# 다양한 방법 => 일종의 리스트!
print(my_dict.keys(), type(my_dict.keys()))

print(my_dict.values())


for value in my_dict.values():
    print(value)

dict_keys(['apple', 'banana']) <class 'dict_keys'>
dict_values(['사과', '바나나'])
사과
바나나

In [21]:
print(my_dict.items())


for k, v in my_dict.items():
    print(k, v)
# 일종의 리스트안에, tuple!

dict_items([('apple', '사과'), ('banana', '바나나')])
apple 사과
banana 바나나

In [30]:
my_dict_2 = {}
my_dict_2['a'] = 'airplane'

print(my_dict_2)

my_dict_3 = {'a': 0}
print(my_dict_3)
# a += 1 
# a = a + 1

my_dict_3['a'] = my_dict_3['a'] + 1
# my_dict_3['a'] += 1
print(my_dict_3)

{'a': 'airplane'}
{'a': 0}
{'a': 1}

In [31]:
my_list = [10, 11, 12]
print(my_list)

my_list[0] = my_list[0] + 1
print(my_list)

[10, 11, 12]
[11, 11, 12]

In [33]:
my_dict = {'apple': '사과', 'banana': '바나나'}
print(my_dict['apple']) 

for word in my_dict: 
    print(my_dict[word])

사과
사과
바나나