<a href="https://colab.research.google.com/github/jelly12paw/TIL/blob/main/Python/Python_08.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python 기초

### List Comperhension

In [1]:
# 1 ~ 3의 세제곱의 결과가 담긴 리스트를 만드시오

a = []
for i in range(1, 4) :
  a.append(i ** 3)

print(a)

# List Comprehension : 특정한 원소로 구성된 리스트 만들 때
b = [i ** 3 for i in range(1, 4)]

print(b)

[1, 8, 27]

In [5]:
even = [i ** 2 for i in range(10) if i % 2 == 0]

print(even)

sum = sum([i ** 2 for i in range(10) if i % 2 == 0])
print(sum)

[0, 4, 16, 36, 64]
120

### Dictionary Comprehension

In [7]:
a = {}
for i in range(1, 4) :
  a[i] = i ** 3

print(a)

# Dictionary Comprehension
b = {i : i ** 3 for i in range(1, 4)}
print(b)

{1: 1, 2: 8, 3: 27}
{1: 1, 2: 8, 3: 27}

### Lambda

In [11]:
# map() : 반복가능한 모든 요소에 함수를 적용 시켜 map object로 반환

num = [1, 2, 5, 10, 3, 9, 12]
result = []

for i in num :
  # if i % 3 == 0 :
    result.append(i * 3)

print(result)

# 함수
def mul3 (i) :
  return i * 3

print(list(map(mul3, num)))

# Lambda
print(list(map(lambda n : n * 3, num)))

[3, 6, 15, 30, 9, 27, 36]
[3, 6, 15, 30, 9, 27, 36]
[3, 6, 15, 30, 9, 27, 36]

### filter : True인 요소만 반환

In [13]:
num = [1, 2, 5, 10, 3, 9, 12]
result = []

for i in num :
  if i % 3 == 0 :
    result.append(i)

print(result)

# filter
print(list(filter(lambda n : n % 3 == 0, num)))

# 함수

def is3 (n) :
  return n % 3 == 0

print(list(filter(is3, num)))

def is31 (n) :
  if n % 3 == 0 :
    return True

  else :
    return False

[3, 9, 12]
[3, 9, 12]
[3, 9, 12]

### Annotation

In [14]:
a : int = 3
print(a)

3

In [15]:
# 함수 어노테이션

def add(x : int, y : int) -> int :
  return x + y

print(add(7, 4))
print(add('hi', 'hello'))

def add2(x, y) :
  return x + y

print(add2(7, 4))

11
hihello
11

### requests

1. url로 요청을 보내기
2. 응답(HTML)을 받기
3. 조작

In [21]:
import requests

url = 'https://m.stock.naver.com/api/stocks/marketValue/KOSPI?page=1&pageSize=20'

response = requests.get(url).json()
print(response.get('stocks')[0].get('closePrice'))

61,200