<a href="https://colab.research.google.com/github/jelly12paw/TIL/blob/main/Python/Python_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python 기초

### 변수

In [1]:
a = 5 # a라는 변수에 5라는 값을 지정
b = 3 # b라는 변수에 3이라는 값을 지정

print(a, b)

5 3

In [2]:
print('Hello') # 문자열 출력

Hello = 'Hello Python!' # Hello라는 변수 이름

print(Hello)

Hello
Hello Python!

In [3]:
aa = a + 1 # 값을 지정한 변수는 연산 가능

print(aa)

6

### Input() : 입력 함수

In [4]:
name = input('이름을 입력해주세요 : ')

print(name)

이름을 입력해주세요 : 파이썬
파이썬

### Type : int / str / float

In [5]:
a = 5 # int(정수)
b = '5' # str(문자열)

print(a, type(a))
print(b, type(b))

5 <class 'int'>
5 <class 'str'>

In [6]:
c = 0.1 # float(실수)

print(c, type(c))

0.1 <class 'float'>

### len / indexing / slicing

In [8]:
a = 'Hello Python!'

print(len(a)) # 변수의 길이를 나타냄

13

In [10]:
print(a[0]) # 첫번째 값
print(a[7]) # 8번째 값
print(a[-1]) # 마지막 값

H
y
!

In [11]:
print(a[1:3]) # 2, 3번째 값
print(a[0:8:2]) # 1 ~ 7번째 값에서 2배수에 해당하는 값

el
HloP

### 줄 바꿈 / 특수문자 표시(', ", \)

In [13]:
print('Hello Python')
print('Hello\nPython') # \n 줄 바꿈
print('\n')
print('\'\' : 따옴표') # \' 따옴표 표시
print('\"\" : 쌍따옴표') # \" 쌍따옴표 표시
print('\\ : 백슬래시') # \\ 백슬래시 표시

Hello Python
Hello
Python


'' : 따옴표
"" : 쌍따옴표
\ : 백슬래시

### 문자열 안에 변수 삽입

In [15]:
math = 70
english = 90

print(f'수학 점수 : {math}점')
print(f'영어 점수 : {english}점')

수학 점수 : 70점
영어 점수 : 90점

In [17]:
pi = 3.14
r = 2

print(f'원주율 : {pi}\n원 넓이 : {pi*2*2}') # 연산자 사용 가능

원주율 : 3.14
원 넓이 : 12.56

In [19]:
print('수학 점수는 ' + str(math) + '점이다.') # 정수를 문자열로 변환

수학 점수는 70점이다.

### 리스트 / 딕셔너리

In [21]:
stu = ['가가', '나나', '다다', '라라', '마마', '바바'] # 리스트

print(stu[0])
print(stu[4])

가가
마마

In [23]:
stu1 = [['가가', '나나'], 
        ['다다', '라라'], 
        ['마마', '바바']] # 리스트 안에 리스트

print(stu1[1])
print(stu1[2][0])

['다다', '라라']
마마

In [24]:
# 딕셔너리 (키 - 값의 쌍)

stu2 = {'1조' : ['가가', '다다'],
        '2조' : ['나나', '마마'],
        '3조' : ['라라', '바바']}

print(stu2['1조'])
print(stu2['3조'][1])

['가가', '다다']
바바

In [26]:
num = [1, 100, 20, 50]

print([1, 2] + [3]) # 리스트끼리 연산자
print('\n')
print('리스트의 개수 :', len(num))
print('리스트의 합 :', sum(num))
print('리스트의 최대값 :', max(num))
print('리스트의 최소값 :', min(num))
print('리스트의 평균 :', sum(num)/len(num))

[1, 2, 3]


리스트의 개수 : 4
리스트의 합 : 171
리스트의 최대값 : 100
리스트의 최소값 : 1
리스트의 평균 : 42.75

In [27]:
# 리스트의 값 변경

a = [1, 2]

print(a[0])

a[0] = 99
print(a)

1
[99, 2]

### range

In [30]:
num = range(5)

print(num)

print(list(num))

range(0, 5)
[0, 1, 2, 3, 4]

In [35]:
import random # 무작위 숫자 생성

lotto = range(1, 46)

win_num = random.sample(lotto, 6) # 변수에 저장된 값중 무작위로 6개 추출

print(win_num)

[30, 25, 42, 31, 33, 11]

### set

In [31]:
a = {1, 2, 3, 1, 1, 2}
b = {'hi', 2, 5}

print(a) # 중복 값을 제외한 값만 보여줌
print(b)

{1, 2, 3}
{2, 'hi', 5}

In [32]:
loc = ['서울', '대구', '부산', '서울', '제주', '강원', '대전']

print(set(loc))
print(len(set(loc)))

{'부산', '제주', '강원', '대전', '서울', '대구'}
6