<a href="https://colab.research.google.com/github/jelly12paw/TIL/blob/main/Python/Python_02_%EC%8B%A4%EC%8A%B5_%EB%AC%B8%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 01

a = int(input())

if a % 3 == 0 and a % 2 == 0 :
  print('True')

else :
  print('False')

267
False

In [2]:
# 02

word = 'happy!'

w = 0

for i in word :
  w += 1

print(w)

6

In [3]:
# 03

sum = 0

for i in range(1, 11) :
  sum += i

print(sum)

# while문
sum = 0
i = 1

while i < 11 :
  sum += i
  i += 1

print(sum)

55
55

In [4]:
# 04

mul = 1

for i in range (1, 6) :
  mul *= i

print(mul)

# while문
mul = 1
i = 1

while i < 6 :
  mul *= i
  i += 1

print(mul)

120
120

In [5]:
# 05

numbers = [3, 10, 20]

len = 0
sum = 0

for i in numbers :
  len += 1
  sum += i

  mean = sum/len
  mean = int(mean)
  
print(mean)

11

In [6]:
# 06

numbers = [0, 20, 100]

max = 0

for i in numbers :

  if max < i :
    max = i

print(max)

# 6 - 1

numbers1 = [0, 20, 100, 50, -60, 50, 100] # 100
numbers2 = [0, 1, 0] # 1
numbers3 = [-10, -100, -30] # -10 

max = -1000

for i in numbers1 :

  if max < i :
    max = i

print(max)

# 6 - 2
for i in numbers2 :

  if max < i :
    max = i

print(max)

# 6 - 3
for i in numbers3 :

  if max < i :
    max = i

print(max)

100
100
100
100

In [7]:
# 07

numbers = [0, 20, 100]

min = 0

for i in numbers :

  if min > i :
    min = i

print(min)

# 7 - 1

numbers1 = [0, 20, 100, 50, -60, 50, 100] # 100
numbers2 = [0, 1, 0] # 1
numbers3 = [-10, -100, -30] # -10 

min = 0

for i in numbers1 :

  if min > i :
    min = i

print(min)

# 7 - 2
for i in numbers2 :

  if min > i :
    min = i

print(min)

# 7 - 3
for i in numbers3 :

  if min > i :
    min = i

print(min)

0
-60
-60
-100

In [8]:
# 08

numbers = [0, 20, 100]

arr_num = sorted(numbers, reverse=True)
max_2nd = arr_num[1]

print(max_2nd)

# 8 - 1

numbers1 = [0, 20, 100, 50, -60, 50, 100] 
numbers2 = [0, 1, 0] 
numbers3 = [-10, -100, -30] 

arr_num1 = sorted(numbers1, reverse=True)
max_2nd1 = arr_num1[1]

print(max_2nd1)

# 8 - 2
arr_num2 = sorted(numbers2, reverse=True)
max_2nd2 = arr_num2[1]

print(max_2nd2)

# 8 - 3
arr_num3 = sorted(numbers3, reverse=True)
max_2nd3 = arr_num3[1]

print(max_2nd3)

20
100
0
-30

## 정답 풀이

In [9]:
# 08

numbers = [0, 20, 100, 40]
max_number = float("-inf")
second_number = float("-inf")

# 1. 전체 숫자를 반복
for n in numbers:
    # 만약에, n이 최대보다 크다면
    if max_number < n:
        # 최대값이었던 것이 두번째로 큰 수
        second_number = max_number
        max_number = n
    # elif second_number < n < max_number:
    elif second_number < n and n < max_number:
        second_number = n
        
print(second_number)

40